#v65-modalContentHeader{
	background: $headingFontColor;
}


	.pageContent{
		@media screen and (max-width: 800px){
			padding: 2em 1em 2em;
		}
		
		@media screen and (min-width: 801px){
			padding: 3em;
		}
	}

.wrapper {
	padding: 0 3%;
	margin: 0 auto;
	max-width: 1300px;
	width: 94%;
}

.v65-form, #v65-memberFormWrapper, #v65-LoginFormWrapper, #v65-forgotPasswordForm {
	fieldset {
		border: none;
	}

	legend {
		color: $headingFontColor;
		font-family: $headingFontFamily;
		font-size: 1.3em;
		margin-bottom: 1em;
	}

	label {
		font-size: 17px;
		margin-bottom: 5px;
	}

	input[type='text'], input[type='password'], input[type='username'], input[type='tel'], input[type='email'], textarea, input[type='number'], select {
		border-color: #D0D3D4;
		border-radius: 3px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		font-family: $fontFamily;
		margin-bottom: 3px;
		
		width: 100%;

	  	@media screen and (min-width: 581px) {
	  		height: 2.5em;
	  		line-height: 2.5;
	  		font-size: 1.1em;
	  		text-align: left !important;
	  	}
	}

	input[type="checkbox"]{
		margin: 0.3em;
	}

	input[type='number'] {
		border: 1px solid #D0D3D4;
		padding: 0 0.5em;

		@media screen and (max-width: 580px){
			height: 4em;
			line-height: 4em;
			min-width: 3em;
		}
	}

	select[name="BirthMonth"], select[name="BirthDay"],select[name="BirthYear"] {
		width: 32%;
	}
}

#v65-LoginFormWrapper, #v65-forgotPasswordForm {
	input[type='text'], input[type='password'], input[type='username'], input[type='tel'], input[type='email'], textarea, input[type='number'], select {
		width: 100% !important;
	}
}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';