header.primary{
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	z-index: 10;

	@media screen and (min-width: 581px) {
		border-bottom: 1px solid $borderColor;
	}
}
.userToolsWrapper {
	@media screen and (min-width: 581px) {
		border-bottom: 1px solid $borderColor;
	}

	.wrapper {
		@media screen and (max-width: 580px) {
			padding: 0;
			width: 100%;
		}
	}
}
	#v65-modalCart {
		position: static;

		@media screen and (min-width: 581px) {
			border-left: 1px solid $borderColor;
	  		display:inline-block;
	  		margin-left: 15px;
	  		padding-left: 20px;
		}
	}

	#user-tools {
		font-size: 15px;
		width: auto;

		@media screen and (max-width: 580px){
			border-bottom: 1px solid $borderColor;
		}

		.v65-yourAccount, .v65-editProfile,
		.v65-login, .v65-logout {
			border-color: $borderColor;
			font-size: 15px;
			width: auto;

			@media screen and (min-width: 581px) {
				border: 0;
			}
		}

		.v65-editProfile, .v65-yourAccount {
			@media screen and (max-width: 580px) {
				width: 32%;
			}
		}

		.v65-login, .v65-logout {
			@media screen and (max-width: 580px) {
				width: 20%;
			}
		}

		a {
			color: $userToolsLinkColor;
		}

		.v65-pointsBalance {
			display: inline-block;
			padding: 0 1em;

			@media screen and (max-width: 580px){
				display: none;
			}
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: top center;
			repeat: no-repeat;
		}
		background-size: contain;
		display: block;
		height: 140px;
		margin: 0.5em auto;
		position: relative;
		width: 260px;

		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
			background-image: image-url($logo-retina);
		}
	}