// Global Fonts
$crimson: 'Crimson Pro', serif;
$hammersmith: 'Hammersmith One', sans-serif;

// Global Variables
$fontFamily: $crimson;
$headingFontFamily: $hammersmith;
$buttonFont: $hammersmith;

// Colors
$grey: #585858;
$lightGrey: #eee;
$darkGrey: #20272C;

$black: #000;
$white: #fff;
$offWhite: #f3f4f4;

$green: #587949;

// ============================== // 
// Theme //
// ============================== // 

// General
$backgroundColor: $white;
$altBackgroundColor: #f7f7f7; 
$borderColor: $lightGrey; 
$fontColor: $grey;
$primaryColor: $green;

$linkColor: darken($primaryColor, 10%);

$headingFontColor: $darkGrey;
$headerFontColor: $darkGrey;
$productTitleColor: $darkGrey;
$contentBlockTitleColor: $darkGrey;

// Buttons
$mainButtonColor: $primaryColor;
$mainButtonHover: darken($mainButtonColor, 10%);

$altButtonColor: $lightGrey;
$altButtonHover: darken($lightGrey, 10%);

// Back to Top Colors
$backToTop: $darkGrey; // Back to top button color
$backToTopFont: $white; // Back to top button font color

// Navigation Colors
$navLinkColor: $grey;
$navLinkHover: $darkGrey;
$navSelected: $darkGrey;
$leftNavSelected: $darkGrey;
$subNavLinkColor: $grey;
$subNavLinkHover: $black;
$subNavBackgroundColor: $backgroundColor;

$userToolsLinkColor: $navLinkColor;

// Logo Settings
$logo: 'logo.png';
$logo-retina: 'logo@2x.png';

// Footer Colors
$footerColor: #6f6f6f;
$footerLink: #6f6f6f;
$footerLinkHover: darken(#6f6f6f, 15%);
$legalFooterColor: #6f6f6f;


$calendarDayColor: #f4f4f4;
$modalCartColor: #F9F9F9;

@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}